/* App.css */

/* Center the content vertically and horizontally */
body {
  justify-content: center;
  align-items: center;
  background-color: #242336; /* Set a background color */
}


/* Style the heading */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #dcdf4a;
  font-family:'Lucida Grande', sans-serif , 'cursive'
}

/* Style the list of interviews */
ul {
  
  padding: 0;
  margin:30px;
}

li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0;
  color: #efa139; /* Blue color for the username */
}

h3 {
  margin: 0;
  margin-top: 1px;
  font-size: 18px;
  font-weight:600;
  color: #333;
}


h4 {
  margin: 0;
  margin-top: 1px;
  font-size: 14px;
  font-weight:450;
  margin-bottom: 25px;
  color: #333;
}

p {
  margin-top: 10px;
  color: #666;
}

/* Style the "Create Post" button */
button {
  display: block;
  margin: 5px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create{
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

.card-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
}


.card-header h2 {
  margin: 0; /* Remove any default margin */
}

.card-header button{
   margin-right: 90px;
}
